PORT=
NODE_ENV=
FRONTEND_CUSTOMER_URL=
FRONTEND_VENDOR_URL=
FRONTEND_ADMIN_URL=
FRONTEND_RIDER_URL=

DATABASE_URL=
DIRECT_URL=

JWT_SECRET=
PAYSTACK_SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

INITIAL_ADMIN_PASSWORD=
